@using Models
@model WebApp.Models.HomeViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    var numPlants = Model.Plants != null ? Model.Plants.Count : 0;
    var plantList = Model.Plants != null ? Model.Plants : new List<Plant>();
    var numHubs = Model.Hubs.Count;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="container pt-5">
    <h2 class="text-center">My Dashboard</h2>
    <hr />
    <h4>@numPlants plants</h4>
    <a href="/plant/new" class="text-primary my-3">Add a new plant</a><br />
    <div class="row">
        @if(numPlants > 0)
        {
            <table class="table table-light table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Current Sunlight</th>
                        <th>Current Water</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var p in plantList)
                    {
                        <tr>
                            <td>
                                @p.Nickname
                            </td>
                            <td>
                                @if(p.CurrentLight < 0)
                                {
                                    <text>No data</text>
                                }
                                else
                                {
                                    @p.CurrentLight
                                }
                            </td>
                            <td>
                                @if(p.CurrentWater < 0)
                                {
                                    <text>No data</text>
                                }
                                else
                                {
                                    @p.CurrentWater
                                }
                            </td>
                            <td>
                                <a href="/plant/edit?id=@p.Id">Edit</a>
                            </td>
                            <td>
                                <a href="/plant/delete?id=@p.Id" class="text-danger plant-delete-button">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <hr />
    <h4>@numHubs Hubs</h4>
    <a href="/hub/create" class="text-primary my-3">Register a Hub</a>
    <div class="row">
        @if(numHubs > 0)
        {
            <table class="table table-light table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Serial No.</th>
                        <th>Battery Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var hub in Model.Hubs)
                    {
                        <tr>
                            <td>
                                @hub.Address
                            </td>
                            <td>
                                @hub.CurrentPower%
                            </td>
                            <td>
                                <a href="/hub/delete?id=@hub.Id" class="text-danger hub-delete-button">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(() => {
            const hubDeleteButtons = $('a.hub-delete-button');
            const plantDeleteButtons = $('a.plant-delete-button');

            hubDeleteButtons.on('click',
                (e) => {
                    e.preventDefault();
                    if (confirm('Are you sure you want to delete this Hub?')) {
                        $(location).attr('href', e.target.href);
                    }
                });

            plantDeleteButtons.on('click',
                (e) => {
                    e.preventDefault();
                    if (confirm('Are you sure you want to delete this plant?')) {
                        $(location).attr('href', e.target.href);
                    }
                })
        })
    </script>
}