<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WetMyPlants</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<style>
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    #nav-user-options {
        position: absolute;
        right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }
</style>

<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
    <a class="navbar-brand">WetMyPlants</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
        @if (Session["User"] != null)
        {
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-item nav-link" href="~/home">Home</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="~/home/plants">My Plants</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" id="nav-user-options">
                <li>
                    <a class="nav-item nav-link" href="/account/myaccount">My Account</a>
                </li>
            </ul>
        }
        else
        {
            @* Somehow change nav bar from "Login | Register" to "My Account" when a user is logged in *@
            <ul class="nav navbar-nav" id="nav-user-options">
                <li>
                    <a class="nav-item nav-link" href="/account/login">Login</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="/account/register">Register</a>
                </li>              
            </ul>
        }
    </div>
</nav>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - WetMyPlants</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>