<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WetMyPlants</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chewy|Roboto+Slab|PT+Sans" rel="stylesheet">
</head>
<body class="bg-light text-dark">

<style>
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    #nav-user-options {
        position: absolute;
        right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }
    footer {
        font-size: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-primary shadow border-dark border-bottom text-light">
    <a href="/home" class="navbar-brand text-light"><img src="../../Content/wmp_icon.png" class="d-inline-block align-top" height="30" width="30"> WetMyPlants</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
        @if (Session["User"] != null)
        {
            <ul class="nav navbar-nav justify-content-end" id="nav-user-options">
                <li>
                    <a class="nav-item nav-link text-light" href="/home">Home</a>
                </li>
                <li>
                    <a class="nav-item nav-link text-light" href="/account/myaccount">My Account</a>
                </li>
                <li>
                    <a class="nav-item nav-link text-light" href="/account/logout">Log Out</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="nav navbar-nav justify-content-end" id="nav-user-options">
                <li>
                    <a class="nav-item nav-link text-light" href="/account/login">Login</a>
                </li>
                <li>
                    <a class="nav-item nav-link text-light" href="/account/register">Register</a>
                </li>              
            </ul>
        }
    </div>
</nav>

<div class="body-content">
    @RenderBody()
    <footer class="px-3 text-primary">
        <hr />
        <p>&copy; @DateTime.Now.Year - WetMyPlants</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>