@using Models
@using WebApp.Controllers
@model Models.Plant
@{
    ViewBag.Title = "Edit Plant";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var speciesList = (List<Species>) ViewBag.Species ?? new List<Species>();
    var status = ViewBag.Message as StatusResponse;
    
}

@if (status != null)
{
    if (status.Error)
    {
        <div class="alert alert-danger">Sorry, something went wrong. We were unable to save your changes.</div>
    }
    if (status.Success)
    {
        <div class="alert alert-success">Saved successfully!</div>
    }
}

<a href="~/home" class="text-info h6"><i class="far fa-arrow-alt-circle-left"></i> Back</a>
<h2 class="text-success">Your plant's details:</h2>

<form method="post" action="~/plant/update" class="form form-light">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id"/>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" required name="Nickname" id="name" value="@Model.Nickname"class="form-control"/>
    </div>
    <div class="form-group">
        <label for="species">Species</label>
        <select name="SpeciesId" id="species" class="form-control">
            @foreach (var species in speciesList)
            {
                <option value="@species.Id">@species.CommonName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="water">Current Water</label>
        <input type="text" readonly name="CurrentWater" value="@Model.CurrentWater" class="form-control form-control-md"/>
    </div>
    <div class="form-group">
        <label for="light">Current Light</label>
        <input type="text" readonly name="CurrentLight" value="@Model.CurrentLight" class="form-control form-control-sm"/>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save"/>
        <a href="/plant/delete?id=@Model.Id" class="btn btn-danger">Delete</a>
    </div>
</form>