@using Models
@model Models.Plant
@{
    ViewBag.Title = "Edit Plant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="~/home">Back</a>
<h2>Edit</h2>

<div>
    <div class="container">
        <form action="~/plant/update" method="get">
            <input type="hidden" value="@Model.Id" name="Id" />
            <div class="row">
                <div class="col-sm-3">
                    <label for="plant_name">Name</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" id="plant_name" name="Nickname" value="@Model.Nickname" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="plant_species">Species</label>
                </div>
                <div class="col-sm-9">
                    <select name="SpeciesId" id="plant_species">
                        @foreach(var sp in (List<Species>)ViewBag.Species)
                        {
                            if(Model.SpeciesId != sp.Id)
                            {
                                <option id="@sp.Id" value="@sp.Id">@sp.CommonName - @sp.LatinName</option>
                            }
                            else
                            {
                                <option id="@sp.Id" value="@sp.Id" selected>@sp.CommonName - @sp.LatinName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="current_water">Current Water Level</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" id="current_water" name="CurrentWater" value="@Model.CurrentWater" readonly />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="current_light">Current Light Level</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" id="current_light" name="CurrentLight" value="@Model.CurrentLight" readonly />
                </div>
            </div>
            <button class="btn btn-success" id="save_button" type="submit">Save</button>
        </form>
        <a href="~/home"><button class="btn btn-danger">Cancel</button></a>
    </div>
</div>